<?xml version="1 0" encoding="UTF-8" ?>
<SerioCommands version="1 0">
 <DisplayForm>
  <Script>
   <![CDATA[<?xml version="1 0" encoding="UTF-8"?>

    <UiScreen>
     
     <Operations>

      <Op type="Submit" action="./4.xml" ></Op>
      
      <Op type="Back" action="./2.xml" ></Op>
     </Operations>
     <IoScreen>
      <IoObject>
       <Title>Selecionar Insumos</Title>
       <Selection id="selecteddisplayItem" maxSelectNum="2" minSelectNum="1" multiple="true">
        
        <Item selected="false" value="item1">
         <Label>TN3449</Label>
         </Item>
        <Item selected="false" value="item2">
         <Label>TN3479</Label>
         </Item>
        <Item selected="true" value="item3">
         <Label>TN3499</Label>
         </Item>
        
       </Selection>
      </IoObject>
     </IoScreen>
    </UiScreen>
   ]]>
  </Script>
 </DisplayForm>
</SerioCommands>